.app-header {
  display: flex;
  align-items: center;
  color: #CCCCCC;
}

.app-header__icon {
  width: 32px;
  height: 32px;
  line-height: 0px;
}

.app-header__content {
  margin-left: 12px;
  flex-grow: 1;
  overflow: hidden;
}

.app-header__user-panel {
  margin-left: 12px;
}

.app-header__user-panel__logout-btn {
  color: #CCCCCC !important;
}

.app-header__user-panel__logout-btn:hover {
  color: #FFF !important;
}
