.amplifront-breadcrumb_inactive {
  background: none;
  border: none;
  color: var(--text-color-secondary);
  transition: color .3s;
  padding: 0;
}

.amplifront-breadcrumb_active {
  color: var(--heading-color);
  transition: color .3s;
}

.amplifront-breadcrumb:hover {
  color: var(--primary-color);
  cursor: pointer;
}
