@closeIcon: .icon:global(.anticon-close.anticon);
@rtlCloseIcon: :global(.ant-tabs-rtl .ant-tabs-nav .ant-tabs-tab) @{closeIcon};

@{closeIcon} {
  margin-right: 0;
}
@{rtlCloseIcon} {
  margin-left: 0;
}
