.breadcrumbs {
  margin-bottom: 20px;
  display: flex;
  overflow-x: auto;

  .breadcrumb {
    display: inline-flex;
    white-space: nowrap;
    cursor: pointer;
    color: #197de1;

    .separator {
      min-width: 20px;
      text-align: center;
    }

    &:hover {
      .caption {
        text-decoration: underline;
      }
    }

    &:last-child {
      .separator {
        display: none;
      }
    }

    &[data-active="true"] {
      color: inherit;
    }
  }
}
