.header {
  display: flex;
  align-items: center;
  color: #CCCCCC;
}

.icon {
  width: 32px;
  height: 32px;
  line-height: 0px;
}

.content {
  margin-left: 12px;
  flex-grow: 1;
  overflow: hidden;
}

.userPanel {
  margin-left: 12px;
}

.logoutBtn {
  color: #CCCCCC !important;
}

.logoutBtn:hover {
  color: #FFF !important;
}

.languageSwitcher:global(.ant-select) {
  background: none;
  color: #CCCCCC;
}

.languageSwitcher :global(.ant-select-arrow) {
  color: #CCCCCC;
}
